@utility m-* {
  margin: calc(--value(ratio) * 100%);
}
@utility mt-* {
  margin-top: calc(--value(ratio) * 100%);
}
@utility mb-* {
  margin-bottom: calc(--value(ratio) * 100%);
}
@utility ms-* {
  margin-left: calc(--value(ratio) * 100%);
}
@utility me-* {
  margin-right: calc(--value(ratio) * 100%);
}

.checkbox input[type="checkbox"] {
  height: 16px !important;
}
